* {
    margin: 0;
    font-family: "Montserrat", sans-serif;;
}


body {
    background: linear-gradient(
    to right,
    #1a1a1a,
    #0d1b2a,
    #1b263b
    );
    height: 100vh;
}


button {
    cursor: pointer;
}